@media(min-width: 100px)and (max-width: 600px){
body{
	background-color: aqua;
}
}
@media(min-width: 600px)and (max-width: 800px){
	body{
	background-color: black;
	color: aqua;

}
@media(min-width: 801px){
	body{
	background-color: beige;
	color: black;
}